<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <strong>{{user.name}}</strong>
        </div>
        <div class="card-body">
            
            <div class="row body1">
                
                <div class="col-12"><strong>Email</strong>: {{user.email}}</div>
                
            </div>
            <div class="row body1">
                <div class="col-12"><strong>Name</strong>: {{user.name}}</div>
                
            </div>
            <div class="row body1">
                <div class="col-12"><strong>IsActive</strong>: {{user.isActive}}</div>
                
            </div>
          <button class="btn btn-primary mt-3" (click) = "OnChangePasssword()" >Change Password</button>
        </div>
    </div>

</div>
<form *ngIf = "isClicked" class="container container2"  [formGroup]="ChangePassword" (ngSubmit)="onSubmits()">
	<div *ngIf = "isError" class="alert alert-danger text-center" >{{error}}</div>
	<h1  class="text-center mt-4">ENTER DETAILS</h1><br/>
    <div class="form-group">
		<label class="">OLD PASSWORD</label>
		<input class="form-control" type="password" formControlName="OldPassword" placeholder="password">
	</div>
	
	<div class="form-group">
		<label class="">New PASSWORD</label>
		<input class="form-control" type="password" formControlName="NewPassword" placeholder="password">
	</div>
    <div class="form-group">
		<label class=""> CONFIRM PASSWORD</label>
		<input class="form-control" type="password" formControlName="Confirm" placeholder="confirm password">
	</div><br/>
    
	<button class="btn btn-block mybtn btn-primary tx-tfm" type="submit"> Change <div *ngIf="submitting" class="spinner-border spinner-border-sm "></div></button>
    
</form>

