
<form class="container" [formGroup]="SignInForm" (ngSubmit)="onSubmits()">
	<div *ngIf = "isError" class="alert alert-danger text-center" >{{error}}</div>
	<h1  class="text-center mt-4">ENTER DETAILS</h1><br/>
	<div class="form-group">
		<label class="">EMAIL</label>
		<input class="form-control" type ="email" formControlName="Email" placeholder="email">
	</div>
	<div class="form-group">
		<label class="">PASSWORD</label>
		<input class="form-control" type="password" formControlName="Password" placeholder="password">
	</div><br/>
    <div class="form-group">
        <p class="text-center">Forget Password ?  <a (click) = "ForgetPassword()" style="color: blue;">Click here</a></p>
     </div>
	<button class="btn btn-block mybtn btn-primary tx-tfm"> SUBMIT <div *ngIf="submitting" class="spinner-border spinner-border-sm "></div></button>
    <div class="form-group">
        <p class="text-center" style="margin-top: 20px">Don't have account? <a [routerLink]="['/Signup']">Sign up here</a></p>
     </div>
</form>
